html {
  font-size: 100%;
  background-color: aliceblue;
}

/*
  Apply anti-aliasing for smoother font rendering across browsers.
*/
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}